:root{
    --bg-primary: #000000;  
    --rbga-primary: 0, 0, 0;
    --text-primary: #FFFFFF;
    --bg-secondary: #F2F0F1;
    --bg-third: #F0F0F0;
    --text-discount: #ff333396;

}

@font-face {
    font-family: "Integral CF";
    src: url("./assets/fonts/Integral-CF-Font-Family/Fontspring-DEMO-integralcf-bold.otf") format("opentype");
    font-weight: 800; 
    font-style: normal;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("./assets/fonts/Satoshi_Complete/Satoshi_Complete/Fonts/OTF/Satoshi-Medium.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Satoshi regular";
    src: url("./assets/fonts/Satoshi_Complete/Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html, body {
        overflow-x: hidden;
    }
/* For mobile phones: */
    .message-promotion{
        background-color: var(--bg-primary);
        display: flex;
        justify-content: center;
    }
    .message-promotion p{
        color: var(--text-primary);
        font-family: "Satoshi"; 
        padding: 0.6rem;
        text-align: center;
        font-size: 12px;
        line-height: 16.2px;
        
    }
    .message-promotion>p span{
        text-decoration: underline;
        font-weight: bold;
    }
    .header{
        padding: 1.3rem;
    }
    .close{
        display: none;
    }
    .nav-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-primary-container{
        display: flex;
        gap: 1rem;
    }
    .nav-primary-container h1{
        font-family: "Integral CF";
        font-size: 25.2px;
        margin-top: -0.3rem;
    }
    .nav-secondary-container{
        display: flex;
        gap: 0.7rem;
    }
    .container{
        background-color: var(--bg-secondary);
        padding: 1rem;
        margin-bottom: -2rem; 
        padding-top: 2rem;
    }
    .section-title{
        color: var(--bg-primary);
        font-family: "Integral CF";
        font-size: 36px;
        width: 90%;
        line-height: 34px;
    }
    .container-section{
        display: flex;
        flex-direction: column;
    }

    .container-section p{
        font-family: "Satoshi regular";
        color: rgba(var(--rbga-primary), 0.6);
        font-size: 14px;
        line-height: 20px;
        padding-top: 1rem;

    }
    .container-btn{
        display: flex;
        justify-content: center;
    }
    .btn-shop{
        background-color: var(--bg-primary);
        font-family: "Satoshi";
        color: var(--text-primary);
        font-size: 16px;
        width: 358px;
        border-radius: 62px;
        border: none;
        cursor: pointer;
        padding: 16px 54px 16px 54px;
        margin-top: 1rem;
    }
    .container-statistics{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 1rem;
    }
    .stat-item h2{
        font-family: "Satoshi";
        font-size: 24px;
        color: var(--bg-primary);
    }
    .stat-item p{
        font-family: "Satoshi regular";
        font-size: 12px;
        color: rgba(var(--rbga-primary), 0.6);
        margin-top: -1.2rem;
    }
    .stat-primary{
        padding-left: 1.7rem;
    }
    .stat-secondary{
        padding-right: 1rem;
    }
    .stat-third {
        text-align: center;
        padding-top: 0.8rem;
    }
    .line, .models-desk{
        display: none;
    }

    hr{
        opacity: 30%;
        color: var(--bg-primary);
    }
    .models{
        margin-left: -1rem;
        width: min(768px, 100vw);
        
    }


    .section-brands{
        background-color: var(--bg-primary);
    
    }
    .list-brands{
        padding-top: 2rem;
    }
    .list-brands ul{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-around;
        padding-bottom: 1rem;
        list-style: none;
    }
    .logomoba{
        height: 23.25px;
    }

    .logoprada{
        padding-left: 1.3rem;
    }
    .logocalvin{
        padding-right: 1rem;
    }

    .section-carousel{
        padding-bottom: 1rem;
    }

    .carousel-title{
        font-family: "Integral CF";
        font-size: 24px;
        text-align: center;
        padding: 4rem 2.5rem 2.5rem 2.5rem;
    }

    .group-carousel{
        display: flex;
        overflow-x: auto;
        gap: 1rem;
        justify-content: space-around;
        padding-left: 1rem;
        padding: 1rem;
    }
    
    .outfit{
        height: 200px;
    }

    .spec-title, .price, .previous-price{
        font-size: 16px;
        color: var(--bg-primary);
        font-family: "Satoshi";
    }
    .specifications{
        line-height: 1.5rem;
        padding-top: 0.5rem;
    }
    .specifications img{
        height: 16px;
    }
    .price, .previous-price{
        font-size: 20px;
    }
    .previous-price{
        text-decoration: line-through;
        color: rgba(var(--rbga-primary), 0.4);
    }
    .discount{
        font-size: 10px;
        font-family: "Satoshi";
        display: flex;
        align-items: center;
        color: var(--text-discount);
    }
    .group-prices{
        display: flex;
        gap: 8px;
    }
    .btn-container{
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
    .btn-view{
        background-color: var(--rbga-primary), 0.1;
        color: var(--bg-primary);
        border: 1px solid rgba(var(--rbga-primary), 0.1);
        font-family: "Satoshi regular";
        font-size: 14px;
        height: 48px;
        
    }

    .border-section{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .border-section hr{
        color: #0000001A;
    }
    .section-clothes{
        background-color: var(--bg-third);
        margin: 0.5rem;
        padding-top: 0.5rem;
        border-radius: 20px;
        padding-bottom: 1rem;
    }

    .container-title{
       padding: 1rem;

    }

    .clothes-title{
        font-family: "Integral CF";
        font-size: 32px;
        text-align: center;
        
    }

    .group-clothes{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .formal-desk, .party-desk{
        display: none;
    }

    .section-coments{
        margin: 1rem;
    }

    .container-coments{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    
    .container-coments h1{
        font-family: "Integral CF";
        font-size: 32px;
    }

    .container-coments img{
        padding-top: 2rem;
        margin-left: 0.5rem;
    }

    .container-perfil{
        display: flex;
        gap: 4px;
    }
   

    .container-perfil h3{
        font-family: "Satoshi";
        font-size: 16px;
    }

    .paragraph-coments{
        font-family: "Satoshi regular";
        font-size: 14px;
        line-height: 20px;
        color: rgba(var(--rbga-primary), 0.7);
        padding-top: 10px;
        width: 100%;
    }

    .coments-item{
        border: 1px solid rgba(var(--rbga-primary), 0.1);
        border-radius: 20px;
        padding: 1rem;
        min-width: 100%;
  
    }
    .coments-cards{
        overflow: auto;
        display: flex;
        justify-content: space-between;
    }
    
    .group-arrows{
        display: flex;
    }

    .section-newsletter{
       display: flex;
       padding: 0.7rem;
       background-image: linear-gradient(
        to bottom, #FFFF 50%, #F0F0F0 50%
       );
    }

    .container-newsletter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: var(--bg-primary);
        border-radius: 20px;
        width: 358px;
        height: 293px;
        padding: 1rem;
        gap: 1rem;
    }

    .container-newsletter h2{
        color: var(--text-primary);
        font-family: "Integral CF";
        font-size: 32px;
        line-height: 35px;
        text-align: left;
    }

    .group-input{
        display: flex;
        background-color: var(--text-primary);
        width: 311px;
        height: 42px;
        border-radius: 62px;
        align-items: center;
        gap: 10px;
        padding-left: 0.5rem;
        

        img{
            width: 16.88px;
            height: 13.13px;
        }

        input{
            background-color: transparent;
            border: none;
            font-size: 14px;
            font-family: "Satoshi regular";
            outline: none;
        }
    }

    .newsletter-sub{
        background-color: var(--text-primary);
        font-family: "Satoshi";
        color: var(--bg-primary);
        border-radius: 62px;
        font-size: 14px;
        width: 311px;
        height: 42px;
    }

    .form-newsletter{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    footer{
        background-color: var(--bg-third);
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .group-support{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .group-resources{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .container-footer-primary{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .container-footer-primary h2{
        font-family: "Integral CF";
        font-size: 28.85px;
    }

    .container-footer-primary p{
        
        font-family: "Satoshi regular";
        font-size: 14px;
        color: #00000099;
        line-height: 20px;
        
    }

    .logos{
        background-color: var(--text-primary);
        border: 1px solid #00000033;
        width: 28px;
        height: 28px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo-face{
        background-color: var(--bg-primary);
    }

    .container-logo{
        display: flex;
        gap: 10px;
    }

    .support{
        display: flex;
        gap: 50px;
    }
    
    .container-support{
        display: flex;
        flex-direction: column;
        gap: 15px;

    }

    .container-support h3{
        font-family: "Satoshi regular";
        font-size: 14px;
        letter-spacing: 3px;
        color: var(--bg-primary);
        text-transform: uppercase;
    }

    .container-support p{
        font-family: "Satoshi regular";
        font-size: 14px;
        line-height: 16px;
        color: #00000099;
    }

    .help{
        padding-left: 1rem;
    }

    .copy p{
        color: #00000099;
        font-family: "Satoshi regular";
        font-size: 14px;
        text-align: center;
    }
    .copy{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .payment{
        background-color: var(--text-primary);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 39.96px;
        height: 25.74px;
        border-radius: 4.61px;
    }

    .container-payment{
        display: flex;
        gap: 10px;
        justify-content: center;
    }


    




/* for tablet */
@media screen and (min-width: 400px){
    .section-title{
        color: var(--bg-primary);
        font-family: "Integral CF";
        font-size: 36px;
        width: 80%;
        line-height: 34px;
        
    }
    .p-title{
        font-family: "Satoshi regular";
        color: rgba(var(--rbga-primary), 0.6);
        font-size: 14px;
        width: 80%;
        line-height: 20px;
        padding-top: 1rem;
    }
    .container-statistics{
        display: flex;
        justify-content: space-around;
        margin-top: 1rem;
    }
    .line{
        display: flex;
    }

    .stat-item{
        padding:0;
    }
    
    .logoprada{
        padding-top: 2px;
        padding-left: 1px;
    }
}

/* for Desktop */
@media screen and (min-width: 1024px) {
    .close{
        display: block;
    }
    .search-nav, .side-nav, .models{
        display: none;
    }
    .message-promotion p{
        color: var(--text-primary);
        font-family: "Satoshi"; 
        padding: 0.6rem;
        text-align: center;
        font-size: 14px;
        line-height: 16.2px;
    }
    .message-promotion{
        display: flex;
        justify-content: space-between;
    }
    .title{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .promotion-title{
        width: 84%;;
    }
    .button-close{
        display: flex;
        align-items: center;
        
    }
    .header{
        margin-left: 4rem;
    }
    .nav-header{
        display: flex;
        justify-content: space-around;
        height: 6vh;
        
    }
    
    .nav-primary-container{
        display: flex;
        align-items: center;
        font-family: "Satoshi regular";
        font-size: 16px;
    }
   
    .nav-primary-container h1{
        font-size: 32px;
        
    }
    .nav-list{
        display: flex;
        list-style: none;  
        gap: 1rem; 

    }
    .input-group{
        display: flex;
        align-items: center;
        background-color: var(--bg-third);
        padding: 12px 16rem 12px 16px;
        border-radius: 62px;
        height: 48px;
        width: 100%;
        gap: 0.5rem;

    }
    
    .input-field{
        border: none;
        font-family: "Satoshi regular";
        font-size: 16px;
        background-color: transparent;
        padding-bottom: 0.2rem;
    }
    .input-field:focus{
       outline: none;
    }

    .nav-secondary-container{
        display: flex;
        
    }
    .nav-img{
        display: flex;
        align-items: center; 
        gap: 10px;
    }
    .container-geral{
        padding: 5rem;
    }
    .container{
        background-image: url(./assets/img/models-desktop.svg);
        height: 700px;
        background-repeat: no-repeat;
        background-position: right;
        background-position: bottom;
    }
    .section-title{
        font-size: 64px;
        line-height: 64px;
        width: 50%;
    }
    .p-title{
        font-size: 18px;
        line-height: 22px;
        width: 38%;
    }
    .container-btn{
        display: flex;
        justify-content: start;
        margin-top: 1rem;
    }
    .container-section{
        width: auto;
    }
    
    .btn-shop{
        width: auto;
    }
    .container-statistics{
       display: flex;
       justify-content: start;
       gap: 1rem;
       padding-top: 1rem;
       width: auto;
        flex-wrap: wrap;
    }
    .line, .models-desk{
        display: flex;
    }
    .stat-item{
        padding:0;
    }
    .stat-item h2{
        font-family: "Satoshi";
        font-size: 40px;
        color: var(--bg-primary);
    }
    .stat-item p{
        font-family: "Satoshi regular";
        font-size: 16px;
        color: rgba(var(--rbga-primary), 0.6);
        margin-top: -1.2rem;
    }

    .section-brands{
        height: 122px;
        margin-top: 2rem; 
    }

    .logomoba{
        height: 33.35px;
    }

    .list-brands ul{
        display: flex;
        justify-content: space-around;
    }

    .carousel-title{
        font-family: "Integral CF";
        font-size: 40px;
        text-align: center;
        padding: 4rem 2.5rem 2.5rem 2.5rem;
    }

    .group-carousel{
        display: flex;
        overflow-x: auto;
        gap: 1rem;
        justify-content: space-around;
        padding-left: 4rem;
        padding-right: 4rem;

    }
    
    .outfit{
        height: 320px;
    }

    .spec-title, .price, .previous-price{
        font-size: 20px;
        color: var(--bg-primary);
        font-family: "Satoshi";
    }
    .specifications{
        line-height: 1.5rem;
        padding-top: 0.5rem;
    }
    .specifications img{
        height: 19px;
    }
    .price, .previous-price{
        font-size: 24px;
    }
    .previous-price{
        text-decoration: line-through;
        color: rgba(var(--rbga-primary), 0.4);
    }
    .discount{
        font-size: 12px;
        font-family: "Satoshi";
        display: flex;
        align-items: center;
        color: var(--text-discount);
        background-color: #FF33331A;
        border-radius: 62px;
        height: 28px;
        width: 58px;
        justify-content: center;
    }
    .group-prices{
        display: flex;
        gap: 8px;
    }

    .border-section{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    
    .section-carousel{
        padding-bottom: 1rem;
    }

    .section-clothes{
      margin: 4rem;
    }

    .clothes-title{
        font-size: 48px;
    }

    .formal, .party{
        display: none;
    }
    .formal-desk, .party-desk{
        display: block;
    }
    .casual, .gym{
        height: 289px;
    }
    .group-clothes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container-coments{
        margin: 3rem;
        
    }
    
    .container-coments{
        display: flex;
        justify-content: space-between;
    }
    .container-coments h1{
        font-size: 48px;

    }
    .container-coments img{
        padding-top: 1rem;
        margin-left: 0;
    }
    .group-arrows{
        display: flex;
        gap: 15px;
        padding-right: 4rem;
    }
   

    .coments-cards{
        display: flex;
        overflow-x: auto;
        gap: 15px;
        margin-top: -2.5rem;  
    }
    .paragraph-coments{
        font-size: 16px;
        width: 336px;
        height: auto;
    }
    
    .container-perfil h3{
        font-size: 20px;
    }
    
    .coments-item{
       height: 239.58px;
       min-width: 400px;
    }
    .section-newsletter{
       padding: 3rem;
       background-image: linear-gradient(to bottom, #FFFF 50%, #F0F0F0 50%);
    }
    .container-newsletter{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        height: 180px;
        justify-content: space-around;
        gap: 6rem;
    }

    .group-input {
        height: 48px;
        width: 349px;

        img{
            height: 15.75px;
            width: 20.25px;
        }
        
        input{
            font-size: 16px;
        }
    }
    .newsletter-sub{
        height: 46px;
        width: 349px;
        font-size: 16px;
    }
    .container-newsletter h2{
        font-size: 40px;
        line-height: 45px;
        width: 50%;
        
    }
    

    footer{
        padding: 4rem;
        margin-top: -5rem;
        
    }

    .group-support{
        display: flex;
        flex-direction: row;
    }

    .group-resources{
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .help{
       padding-left: 0;
    }   

    .copy{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .container-footer-primary{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .container-footer-primary h2{
        font-family: "Integral CF";
        font-size: 33.45px;
    }

    .container-footer-primary p{
        
        font-family: "Satoshi regular";
        font-size: 14px;
        color: #00000099;
        line-height: 20px;
        width: 45%;
        
    }

    .logos{
        background-color: var(--text-primary);
        border: 1px solid #00000033;
        width: 28px;
        height: 28px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo-face{
        background-color: var(--bg-primary);
    }

    .container-support h3{
        font-family: "Satoshi regular";
        font-size: 18px;
        letter-spacing: 3px;
        color: var(--bg-primary);
        text-transform: uppercase;
    }

    .container-support p{
        font-family: "Satoshi regular";
        font-size: 16px;
        line-height: 19px;
        color: #00000099;
    }

}