:root{
    --bg-primary: #000000;  
    --rbga-primary: 0, 0, 0;
    --text-primary: #FFFFFF;
    --bg-secondary: #F2F0F1;

}

@font-face {
    font-family: "Integral CF";
    src: url("./assets/fonts/Integral-CF-Font-Family/Fontspring-DEMO-integralcf-bold.otf") format("opentype");
    font-weight: 800; 
    font-style: normal;
  }
  @font-face {
    font-family: "Satoshi";
    src: url("./assets/fonts/Satoshi_Complete/Satoshi_Complete/Fonts/OTF/Satoshi-Medium.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "Satoshi regular";
    src: url("./assets/fonts/Satoshi_Complete/Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
  }
/* For mobile phones: */
@media only screen and (max-width: 768px ) {
    .message-promotion{
        background-color: var(--bg-primary);
    }
    .message-promotion p{
        color: var(--text-primary);
        font-family: "Satoshi"; 
        padding: 0.6rem;
        text-align: center;
        font-size: 12px;
        line-height: 16.2px;
        
    }
    .message-promotion>p span{
        text-decoration: underline;
        font-weight: bold;
    }
    .header{
        padding: 1.3rem;
    }
    .nav-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav-primary-container{
        display: flex;
        gap: 1rem;
    }
    .nav-primary-container h1{
        font-family: "Integral CF";
        font-size: 25.2px;
        margin-top: -0.3rem;
    }
    .nav-secondary-container{
        display: flex;
        gap: 0.7rem;
    }

    .container{
        background-color: var(--bg-secondary);
        padding: 1rem;
        margin-bottom: -2rem;
    }
    .section-title{
        color: var(--bg-primary);
        font-family: "Integral CF";
        font-size: 48px;
        line-height: 40px;
        padding-top: 1rem;
    }

    
    .container-section p{
        font-family: "Satoshi regular";
        color: rgba(var(--rbga-primary), 0.6);
        font-size: 14px;
        line-height: 20px;
        padding-top: 1rem ;

    }
    .btn-shop{
        background-color: var(--bg-primary);
        font-family: "Satoshi";
        color: var(--text-primary);
        font-size: 16px;
        line-height: 21.6px;
        width: 358px;
        border-radius: 62px;
        border: none;
        cursor: pointer;
        padding: 16px 54px 16px 54px;
        margin-top: 1rem;
    }
    .container-statistics{
        display: flex;
        justify-content: space-around;
        margin-top: 1rem;
    }
    .stat-item h2{
        font-family: "Satoshi";
        font-size: 24px;
        color: var(--bg-primary);
    }
    .stat-item p{
        font-family: "Satoshi regular";
        font-size: 12px;
        color: rgba(var(--rbga-primary), 0.6);
        margin-top: -1.2rem;
    }
    .container-image{
        margin-top: -5.2rem;
    
    }
    .stat-primary{
        padding-left: 1rem;
    }
    .stat-secondary{
        padding-right: 1rem;
    }
    .stat-third {
        margin-top: -0.5rem;
    }

    hr{
        opacity: 30%;
        color: var(--bg-primary);
    }

    .models{
        margin-left: -1rem;
        position: static;
    }
    .star-primary{
        position: relative;
        top: 12rem;
        left: 0.6rem;
    }
    .star-secondary{
        position: relative;
        left: 14rem;
        top: 7.5rem;
    }
    
    .section-brands{
        margin: 0;
        background-color: var(--bg-primary);
        padding-top: 7vh;
    }
    .list-brands ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: 14vh;
        padding-bottom: 1rem;
    }
    .logocalvin{
        margin-left: -4rem;
    }
}
   